
  <div class="intro" style="background-image: url(<%= asset_path 'bg3.jpg' %>);">
    <div class="dtable hw100">
      <div class="dtable-cell hw100">
        <div class="container text-center">
          <h1 class="intro-title animated fadeInDown"> Vende Fácil desde un solo lugar </h1>

          <p class="sub animateme fittext3 animated fadeIn"> Publica tus productos en Mercado Libre, Instagram y Facebook desde un solo lugar! </p>

          <div class="row search-row animated fadeInUp">
              <div class="col-lg-offset-4 col-lg-4 col-sm-4 search-col">
                  <button class="btn btn-primary btn-search btn-block"><i class="glyphicon glyphicon-user"></i><strong> COMENZAR</strong></button>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.intro -->

