<div id="wrapper">
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> Publica tu anuncio</strong></h2>

                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal">
                                <fieldset>
   <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Adtitle">Titulo</label>

                                        <div class="col-md-8">
                                            <input id="Adtitle" name="Adtitle" placeholder="Ej.: Camisa Lacoste Hombre Manga Larga"
                                                   class="form-control input-md" required="" type="text">
                                            <span class="help-block">60 caracteres maximo. </span>
                                        </div>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="textarea">Descripción</label>

                                        <div class="col-md-8">
                                            <textarea class="form-control" id="textarea" name="textarea" placeholder="Escribe tu descripción"></textarea>
                                        </div>
                                    </div>

                                    <!-- Prepended text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Price">Precio</label>

                                        <div class="col-md-4">
                                            <div class="input-group"><span class="input-group-addon">$</span>
                                                <input id="Price" name="Price" class="form-control"
                                                       placeholder="1.000" required="" type="text">
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <!-- photo -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="textarea"> Picture </label>

                                        <div class="col-md-8">
                                            <div class="mb10">
                                                <input id="input-upload-img1" type="file" class="file"
                                                       data-preview-file-type="text">
                                            </div>
                                            <div class="mb10">
                                                <input id="input-upload-img2" type="file" class="file"
                                                       data-preview-file-type="text">
                                            </div>
                                            <div class="mb10">
                                                <input id="input-upload-img3" type="file" class="file"
                                                       data-preview-file-type="text">
                                            </div>
                                            <div class="mb10">
                                                <input id="input-upload-img4" type="file" class="file"
                                                       data-preview-file-type="text">
                                            </div>
                                            <div class="mb10">
                                                <input id="input-upload-img5" type="file" class="file"
                                                       data-preview-file-type="text">
                                            </div>
                                            <p class="help-block">Añadir hasta 5 fotos. Utilice una imagen real de sus productos.</p>
                                        </div>
                                    </div>
                                    

                                    
                                    <!-- Appended checkbox -->
                                    
                                   

                                    <!-- Button  -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>

                                        <div class="col-md-8"><a href="posting-success.html" id="button1id"
                                                                 class="btn btn-success btn-lg">Submit</a></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.page-content -->

            <div class="col-md-3 reg-sidebar">
                <div class="reg-sidebar-inner text-center">
                    <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>

                        <h3><strong>Vende Fácil</strong></h3>

                        <p> Vende Facil es la herramienta perfecta para poder para poder administrar y publicar tus items en redes sociales y en mercadolibre al mismo tiempo. </p>
                    </div>

                    <div class="panel sidebar-panel">
                        <div class="panel-heading uppercase">
                            <small><strong>CLAVES PARA TENER ÉXITO</strong></small>
                        </div>
                        <div class="panel-content">
                            <div class="panel-body text-left">
                                <ul class="list-check">
                                    <li> Primero y principal, tener imagenes llamativas.</li>
                                    <li> Titulo especifico</li>
                                    <li> Tratar de describir el producto con el mayor detalle posible. </li>
                                    <li> Elige bien la categoría</li>
                                    <li> Revisa el item ante de publicar</li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--/.reg-sidebar-->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.main-container -->

<!--/.footer-->
</div>
<!-- /.wrapper -->

<script>
// initialize with defaults
$("#input-upload-img1").fileinput();
$("#input-upload-img2").fileinput();
$("#input-upload-img3").fileinput();
$("#input-upload-img4").fileinput();
$("#input-upload-img5").fileinput();
</script>

