<div class="footer" id="footer">
  <div class="container">
    <ul class=" pull-left navbar-link footer-nav">
      <li><a href="about-us.html"> Nosotros </a> <a href="#"> Términos y Condiciones </a> <a href="#"> Políticas de Privacidad</a> <a href="contact.html"> Contáctanos </a></li>
    </ul>
    <ul class=" pull-right navbar-link footer-nav">
      <li> &copy; 2016 VendeFácil</li>
    </ul>
  </div>

</div>
<!-- /.footer -->