<div class="header">
	<nav class="navbar   navbar-site navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span></button>
					<a href="index.html" class="navbar-brand logo logo-title">
						<!-- Original Logo will be placed here  -->
						<span class="logo-icon"><i class="glyphicon glyphicon-shopping-cart ln-shadow-logo shape-0"></i> </span>
						<span>VENDE</span>FÁCIL </a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<% if @api && @api.get_my_user.email %>
								<li><%= link_to @api.get_my_user.email, users_profile_path %></li>
							<% else %>
								<li><%= link_to 'Iniciar Sesión', @api.authenticate_url.gsub!(".ar","") %></li>
							<% end %>
							<li class="postadd">
								<%= link_to 'Publica Fácil!', pages_post_ads_path ,class: 'btn btn-block btn-border btn-post btn-danger' %>
							</li>
							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
			</div>
         <!-- /.header -->